 <div class="container">
            <footer class="page-footer">
                <div class="footer-copyright">
                    <div class="container">
                        DW84 Inc LLC E-COMMERCE
                    </div>
                </div>
            </footer>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

        <script type="text/javascript" id="snipcart" src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="M2E5YjA3NjMtYzRiYS00YzVjLWEyYWYtNDY5ZDI0OWZhYjg5"></script>

        <script>
            Snipcart.execute('registerLocale', 'en', {
                powered_by:
                "DW84 Inc LLC Foundation "
            }); 
        </script>
    </body>
</html>